html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color:#fff;
    font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
}

.content {
    padding: 0 0.938rem;
    margin: 0 auto;
    min-width: 37.5rem;

  }
/* Navigation Section */
.top-navigation {
	background-color: #fff;
	position: fixed;
	width: 100%;
	z-index: 9999;
    border-bottom: solid 1em #000;
}
.top-navigation > .content {
	width: 970px;
	height: 100px;
	margin: 0 auto;
	padding: 0px 15px;
}
.top-navigation .logo {
	height: 89px;
	width: 175px;
    margin-top: 5px;
}
.top-navigation .links {
	float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 50px;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
	display: inline-block;
	margin-left: 25px;
    color: #4c5058;
}
.top-navigation .links > .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}
.introduction {
   /* background-image: url('../images/first-background.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color:#000;
    /*height: 45.938rem;*/
    height: 15.0rem;
    overflow: auto;
    
}
.content {
	padding: 0 0.938rem;
    margin: 0 auto;
    min-width: 37.5rem;
}
.introduction h1, .introduction h3 {
    color: white;
    text-align: center;
    font-weight: 300;
}

.introduction h1 {
	margin-top: 6.5rem;
    font-size: 3.125rem;
    

}
.introduction h3 {
    margin-top: 1.0rem;
    font-size: 1.563rem;

}


/*.introduction .buttons {
    color: white;
    text-align: center;
    margin-top: 1.563rem;
}*/

/*button {
	    width: 9.688rem;
    background-color: #f15a29;
    text-shadow: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
}*/

.cases {
	background-color: #fff;
    overflow: hidden;
    padding-bottom: 15rem;
}

.cases .content {
    margin-top: 3.0rem;
    padding: 0;
    color: #1d1e21;
    text-align: center;
} 

.cases h2 {
    font-size: 2.75rem;
    margin: 1.625rem 0 3.125rem;
    font-weight: 300;
}

.cases .devices > li {
    width: 33.3333333%;
    display: inline-block;
    box-sizing: border-box;
    height: 4em;
    float: left;
}

.cases .devices h3 {
    font-weight: 400;
    font-size: 1.563rem;
    margin: 2.5rem 0px 1.875rem;
    }

.social {
    background-color: #fff;
    overflow: auto;
    padding-bottom: 9.375rem;
    text-align: center;
   }
.social hr {
    border: 0;
    border-top: 1px solid #eaebec;
    margin: 1.313rem 0;
}

.social h5 {
	font-weight: 400;
    font-size: 1.0rem;
    text-align: center;
}

 .social .icons > li {
    border-radius: 1.25rem;
    width: 2.5rem;
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid Chocolate;
    background-color: #eee;
    padding: 0.625rem 0;
    text-align: center;
}

.icons {
	padding-left: 0;
	
}